{
  "extends": ["./node_modules/@nihalgonsalves/esconfig/.eslintrc"],
  "rules": {
    "@typescript-eslint/no-duplicate-enum-values": "off",
    "@typescript-eslint/restrict-template-expressions": [
      "error",
      { "allowNumber": true },
    ],
  },
}
